@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color : #505962;
}
/* Navigation  */

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background-color: rgba(0,0,0,.6) !important;
}

.navbar-brand img {
  height: 50px;
}

.navbar-nav li {
  padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color : white;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link:hover {
  color : #1ebba3;
  padding-top: .8rem;
}

/* End navigation */


/* Landing page */
  .home-inner {
    background-image: url("../assets/2109.jpg");
    animation: fadeIn;
    animation-duration: 3s; 
  }

  .caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 20%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
  }

  .caption h1 {
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
  }

  .caption h3 {
    font-size: 2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
  }

  .btn-lg {
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.3rem;
  }
/* End Landing page */

/* Section2 */
#visualContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#makeVisual {
  visibility: hidden;
  font-size: 90px;
  color: white;
  margin-bottom: 300px;
}

.makeVisualImg {
  margin-top: 22px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 300px;
}

.dust {
  position: absolute;
}


.ml5 {
  visibility: hidden;
  font-family: 'Roboto Mono', monospace;
  position: relative;
  font-weight: 300;
  font-size: 2em;
  color:white;
}

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

.ml5 .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color: white;
  transform-origin: 0.5 0;
}

.ml5 .letters {
  display: inline-block;
  opacity: 0;
}

.portfolioColumn {
  display: flex;
  justify-content: center;
}

.portfolio {
  border: 1px solid white;
  width: 400px;
  height: 400px;
}

.card {
  width: 30rem;
  border-radius: 0px;
  background-color: black;
  border: 5px solid white;
  color: white;
  transform-style: preserve-3d;
}

.card-title {
  transform: translateZ(30px);
}

.card-body {
  border-top: 5px solid white;
  text-align: center;
  padding: 41px 44px 68px 44px;
}

.card-text {
  margin-bottom: 48px;
  transform: translateZ(40px);
  /*font-family: 'Lato', sans-serif;*/
}

.custom-button {
  background: transparent;
  border-radius: 0px;
  border: 3px solid white;
  color: white;
  padding: 10px;
  font-size: 20px;
  transform: translateZ(50px) translateY(-50%) translateX(-50%);
  position: absolute;
}

.custom-button:hover {
  color: white;
  text-decoration: none;
}

/* End Section2 */


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap



Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*Small (sm) devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
  .caption h1 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
  }

  .caption h3 {
    font-size: 1rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
  }

  .btn-lg {
    border-width: medium;
    border-radius: 0;
    padding: .2rem .6rem;
    font-size: 20px;
  }

  .ml5 {
    font-size: 17px;
  }

  .makeVisualImg {
    width: 200px;
    margin-top: -1px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  #makeVisual {
    visibility: hidden;
    font-size: 30px;
    color: white;
  }

  .navbar-brand img {
    height: 30px;
  }

  .card-body {
    border-top: 5px solid white;
    text-align: center;
    padding: 30px;
  }

  .custom-button {
    background: transparent;
    border-radius: 0px;
    border: 3px solid white;
    color: white;
    padding: 5px;
    font-size: 10px;
    transform: translateZ(50px) translateY(-50%) translateX(-50%);
    position: absolute;
  }
}
